### COVID Data Analysis Project Stage - 2
### Data Modeling

##### Team Members
1. Keerthi Devireddy
2. Sony Annem
3. Supriya Kottam

## 1. Compare the weekly statistics (mean, median, mode) for number of cases and deaths across US.

In [1]:
# Importing packages
import pandas as pd

In [2]:
# SuperCovid19 dataset
df_cases=pd.read_csv("../../../Data Science/Consumed Datasets/Stage 1/covid_confirmed_usafacts.csv")
df_deaths=pd.read_csv("../../../Data Science/Consumed Datasets/Stage 1/covid_deaths_usafacts.csv")
df_population=pd.read_csv("../../../Data Science/Consumed Datasets/Stage 1/covid_county_population_usafacts.csv")
Merge_df = pd.merge(df_cases,df_deaths,on=('countyFIPS','County Name','State','StateFIPS'),how='outer')
df_population=df_population.drop(['County Name','State'],axis=1)
df_supercovid19=pd.merge(Merge_df,df_population, on=('countyFIPS'))
df_supercovid19

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2023-07-15_y,2023-07-16_y,2023-07-17_y,2023-07-18_y,2023-07-19_y,2023-07-20_y,2023-07-21_y,2023-07-22_y,2023-07-23_y,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,42343
5739,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,23464
5740,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,20226
5741,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,7805
5742,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,6927

#### Filtering the dataframe to include only the data in selected dates, starts from 2020, July - 2020, December.

In [3]:
# FIltering out the dataset to include only 2020 records.
formats_to_remove=['2021-','2022-','2023-']
columns_to_keep = [col for col in df_supercovid19.columns if not any(format_to_remove in col for format_to_remove in formats_to_remove)]
df_filtered_dates = df_supercovid19[columns_to_keep]
df_filtered_dates

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2020-12-23_y,2020-12-24_y,2020-12-25_y,2020-12-26_y,2020-12-27_y,2020-12-28_y,2020-12-29_y,2020-12-30_y,2020-12-31_y,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,16,42343
5739,56039,Teton County,WY,56,0,0,0,0,0,0,...,2,2,2,2,2,3,3,3,4,23464
5740,56041,Uinta County,WY,56,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,20226
5741,56043,Washakie County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,16,16,16,19,7805
5742,56045,Weston County,WY,56,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,6927

In [4]:
# Removing unwanted records(Jan 2020 to June 2020) of 2020 and keeping only the records from 2020 july to 2020 dec.
formats_to_remove=['2020-01-','2020-02-','2020-03-','2020-04','2020-05','2020-06']
columns_to_keep = [col for col in df_filtered_dates.columns if not any(format_to_remove in col for format_to_remove in formats_to_remove)]
df_filtered = df_filtered_dates[columns_to_keep]
df_filtered
#columns_to_keep

,countyFIPS,County Name,State,StateFIPS,2020-07-01_x,2020-07-02_x,2020-07-03_x,2020-07-04_x,2020-07-05_x,2020-07-06_x,...,2020-12-23_y,2020-12-24_y,2020-12-25_y,2020-12-26_y,2020-12-27_y,2020-12-28_y,2020-12-29_y,2020-12-30_y,2020-12-31_y,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,56037,Sweetwater County,WY,56,89,92,100,102,106,113,...,15,15,15,15,15,15,15,15,16,42343
5739,56039,Teton County,WY,56,134,136,135,137,140,145,...,2,2,2,2,2,3,3,3,4,23464
5740,56041,Uinta County,WY,56,177,180,182,183,184,190,...,7,7,7,7,7,7,7,7,7,20226
5741,56043,Washakie County,WY,56,39,39,39,39,39,39,...,11,11,11,11,11,16,16,16,19,7805
5742,56045,Weston County,WY,56,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,6927

In [5]:
# Creating cases dataframe seperately and removing _x suffix from column names.
ending_to_remove = '_y'
columns_to_keep = [col for col in df_filtered.columns if not col.endswith(ending_to_remove)]
cases=df_filtered[columns_to_keep]
suffix_to_remove='_x'
cases.columns = cases.columns.str.rstrip(suffix_to_remove)
cases

,countyFIPS,County Name,State,StateFIPS,2020-07-01,2020-07-02,2020-07-03,2020-07-04,2020-07-05,2020-07-06,...,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,56037,Sweetwater County,WY,56,89,92,100,102,106,113,...,2820,2820,2820,2845,2854,2921,2929,2943,2966,42343
5739,56039,Teton County,WY,56,134,136,135,137,140,145,...,2039,2039,2039,2080,2080,2108,2112,2121,2138,23464
5740,56041,Uinta County,WY,56,177,180,182,183,184,190,...,1475,1475,1475,1495,1497,1507,1521,1540,1558,20226
5741,56043,Washakie County,WY,56,39,39,39,39,39,39,...,726,726,726,747,747,763,764,768,781,7805
5742,56045,Weston County,WY,56,2,2,2,2,2,1,...,460,460,460,461,466,467,471,475,476,6927

In [6]:
# Creating deaths dataframe seperately and removing _y suffix from column names.
ending_to_remove = '_x'
columns_to_keep = [col for col in df_filtered.columns if not col.endswith(ending_to_remove)]
deaths=df_filtered[columns_to_keep]
suffix_to_remove='_y'
deaths.columns = deaths.columns.str.rstrip(suffix_to_remove)
deaths

,countyFIPS,County Name,State,StateFIPS,2020-07-01,2020-07-02,2020-07-03,2020-07-04,2020-07-05,2020-07-06,...,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,16,42343
5739,56039,Teton County,WY,56,1,1,1,1,1,1,...,2,2,2,2,2,3,3,3,4,23464
5740,56041,Uinta County,WY,56,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,20226
5741,56043,Washakie County,WY,56,5,5,5,5,5,5,...,11,11,11,11,11,16,16,16,19,7805
5742,56045,Weston County,WY,56,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,6927

In [7]:
cases.describe()

,countyFIPS,StateFIPS,2020-07-01,2020-07-02,2020-07-03,2020-07-04,2020-07-05,2020-07-06,2020-07-07,2020-07-08,...,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31,population
count,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,...,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5743.000000,5.743000e+03
mean,16622.919380,29.682570,621.561379,640.244646,646.143827,656.473446,670.511057,677.945151,693.613442,712.373498,...,3950.668292,3996.985025,4030.275640,4044.121191,4082.245342,4124.485983,4172.861048,4404.195020,4294.372105,5.715471e+04
std,18829.354567,15.401841,3255.197695,3326.331725,3372.748596,3418.019544,3462.101346,3497.230513,3561.950575,3637.582375,...,15962.842767,16190.035825,16314.911313,16421.132931,16587.164301,16844.633535,17152.882338,17519.134601,17772.100253,2.520514e+05
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,18.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,9.500000,21.000000,21.000000,9.000000,21.000000,21.000000,9.500000,26.000000,27.000000,0.000000e+00
50%,8051.000000,29.000000,31.000000,32.000000,34.000000,35.000000,38.000000,40.000000,41.000000,43.000000,...,683.000000,719.000000,723.000000,685.000000,731.000000,740.000000,752.000000,813.000000,750.000000,4.333000e+03
75%,31104.000000,44.000000,216.500000,222.000000,227.000000,231.500000,234.500000,240.000000,245.500000,251.000000,...,2616.500000,2633.500000,2651.000000,2670.500000,2687.500000,2699.000000,2712.000000,2762.500000,2806.500000,2.990400e+04
max,56045.000000,56.000000,121271.000000,124858.000000,128060.000000,130078.000000,131595.000000,133411.000000,136632.000000,140250.000000,...,712068.000000,729268.000000,738270.000000,742414.000000,756026.000000,764528.000000,785920.000000,808206.000000,828328.000000,1.003911e+07

In [8]:
# Transforming the dataset using melt function to convert the date columns as rows.
cases = cases.melt(id_vars=['countyFIPS', 'County Name', 'State', 'StateFIPS', 'population'], var_name='date', value_name='cases')
cases.drop_duplicates()

,countyFIPS,County Name,State,StateFIPS,population,date,cases
0,0,Statewide Unallocated,AL,1,0,2020-07-01,0
51,0,Statewide Unallocated,AK,2,0,2020-07-01,0
102,0,Statewide Unallocated,AZ,4,0,2020-07-01,0
153,0,Statewide Unallocated,AR,5,0,2020-07-01,706
204,0,Statewide Unallocated,CA,6,0,2020-07-01,21
...,...,...,...,...,...,...,...
1056707,56037,Sweetwater County,WY,56,42343,2020-12-31,2966
1056708,56039,Teton County,WY,56,23464,2020-12-31,2138
1056709,56041,Uinta County,WY,56,20226,2020-12-31,1558
1056710,56043,Washakie County,WY,56,7805,2020-12-31,781
1056711,56045,Weston County,WY,56,6927,2020-12-31,476

In [9]:
# Converting the datatype of date column from Int to datetime object.
cases['date'] = pd.to_datetime(cases['date'])
cases.dtypes

countyFIPS              int64
County Name            object
State                  object
StateFIPS               int64
population              int64
date           datetime64[ns]
cases                   int64
dtype: object

In [10]:
# Transforming the dataset using melt function to convert the date columns as rows.
deaths = deaths.melt(id_vars=['countyFIPS', 'County Name', 'State', 'StateFIPS', 'population'], var_name='date', value_name='deaths')
deaths.drop_duplicates()

,countyFIPS,County Name,State,StateFIPS,population,date,deaths
0,0,Statewide Unallocated,AL,1,0,2020-07-01,0
51,0,Statewide Unallocated,AK,2,0,2020-07-01,0
102,0,Statewide Unallocated,AZ,4,0,2020-07-01,0
153,0,Statewide Unallocated,AR,5,0,2020-07-01,0
204,0,Statewide Unallocated,CA,6,0,2020-07-01,0
...,...,...,...,...,...,...,...
1056707,56037,Sweetwater County,WY,56,42343,2020-12-31,16
1056708,56039,Teton County,WY,56,23464,2020-12-31,4
1056709,56041,Uinta County,WY,56,20226,2020-12-31,7
1056710,56043,Washakie County,WY,56,7805,2020-12-31,19
1056711,56045,Weston County,WY,56,6927,2020-12-31,2

In [11]:
# Converting the datatype of date column from Int to datetime object.
deaths['date'] = pd.to_datetime(deaths['date'])
deaths.dtypes

countyFIPS              int64
County Name            object
State                  object
StateFIPS               int64
population              int64
date           datetime64[ns]
deaths                  int64
dtype: object

In [12]:
cases_deaths = pd.merge(cases,deaths,on=['countyFIPS','County Name','State','StateFIPS','population','date'])
cases_deaths=cases_deaths.drop_duplicates()

In [13]:
cases_deaths

,countyFIPS,County Name,State,StateFIPS,population,date,cases,deaths
0,0,Statewide Unallocated,AL,1,0,2020-07-01,0,0
2601,0,Statewide Unallocated,AK,2,0,2020-07-01,0,0
5202,0,Statewide Unallocated,AZ,4,0,2020-07-01,0,0
7803,0,Statewide Unallocated,AR,5,0,2020-07-01,706,0
10404,0,Statewide Unallocated,CA,6,0,2020-07-01,21,0
...,...,...,...,...,...,...,...,...
24985907,56037,Sweetwater County,WY,56,42343,2020-12-31,2966,16
24985908,56039,Teton County,WY,56,23464,2020-12-31,2138,4
24985909,56041,Uinta County,WY,56,20226,2020-12-31,1558,7
24985910,56043,Washakie County,WY,56,7805,2020-12-31,781,19
24985911,56045,Weston County,WY,56,6927,2020-12-31,476,2

### Computing the weekly statistics (mean, median, mode) for number of cases and deaths across US.

In [14]:
weekly_stats = cases_deaths.groupby(cases_deaths['date'].dt.to_period("W")).agg({
    'cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
weekly_stats.columns = ['week', 'US_cases_mean', 'US_cases_median', 'US_cases_mode', 'US_deaths_mean', 'US_deaths_median', 'US_deaths_mode']

In [15]:
weekly_stats

,week,US_cases_mean,US_cases_median,US_cases_mode,US_deaths_mean,US_deaths_median,US_deaths_mode
0,2020-06-29/2020-07-05,895.767491,82.0,0,40.787848,1.0,0
1,2020-07-06/2020-07-12,1000.684220,98.0,0,42.156548,2.0,0
2,2020-07-13/2020-07-19,1143.741757,121.0,0,44.104828,2.0,0
3,2020-07-20/2020-07-26,1287.434432,147.0,0,46.299808,2.0,0
4,2020-07-27/2020-08-02,1422.400072,174.0,0,48.652275,3.0,0
5,2020-08-03/2020-08-09,1542.379357,201.0,0,51.015167,3.0,0
6,2020-08-10/2020-08-16,1649.752092,230.0,0,53.308845,4.0,0
7,2020-08-17/2020-08-23,1744.035972,255.0,0,55.388752,4.0,0
8,2020-08-24/2020-08-30,1832.207239,281.0,0,57.324460,5.0,0
9,2020-08-31/2020-09-06,1919.330410,307.0,0,59.103262,5.0,0
10,2020-09-07/2020-09-13,1996.656481,331.0,0,60.606147,5.0,0
11,2020-09-14/2020-09-20,2080.514071,359.0,0,62.221064,6.0,0
12,2020-09-21/2020-09-27,2174.014988,390.0,0,63.742830,7.0,0
13,2020-09-28/2020-10-04,2267.253546,431.0,0,65.202810,7.0,0
14,2020-10-05/2020-10-11,2367.966534,465.0,0,66.666637,8.0,0
15,2020-10-12/2020-10-18,2485.460427,515.0,0,68.195964,8.0,0
16,2020-10-19/2020-10-25,2621.275334,562.0,0,69.933694,9.0,0
17,2020-10-26/2020-11-01,2789.538992,615.0,0,71.773791,11.0,0
18,2020-11-02/2020-11-08,3022.631426,698.0,0,73.918438,12.0,0
19,2020-11-09/2020-11-15,3320.445260,805.0,0,76.492416,13.0,0
20,2020-11-16/2020-11-22,3680.564628,909.0,0,79.554606,14.0,0
21,2020-11-23/2020-11-29,4057.663997,1018.0,0,83.238826,16.0,0
22,2020-11-30/2020-12-06,4456.589817,1127.0,0,87.524361,18.0,0
23,2020-12-07/2020-12-13,4923.091137,1259.0,0,92.885106,20.0,0
24,2020-12-14/2020-12-20,5393.502394,1371.0,0,98.913203,22.0,0
25,2020-12-21/2020-12-27,5804.531967,1476.0,0,104.618764,24.0,0
26,2020-12-28/2021-01-03,6137.365722,1551.0,0,109.576261,26.0,0

### An alternate method
#### Using resample function to compute weekly stats

In [16]:
# Mean, Median and Mode of the cases dataset
#cases_death.resample('W', on='date').mean()
#cases_deaths.cases.resample('M').mean()
weekly_stats= cases_deaths.set_index('date')
weekly_stats.to_csv('weeklystats.csv')
#mean_cases = weekly_data['cases'].mean()

In [17]:
weekly_data = cases_deaths.set_index('date').resample('W')
weekly_data['cases'].sum()
mean_cases = weekly_data['cases'].mean()
mean_cases

date
2020-07-05     895.767491
2020-07-12    1000.684220
2020-07-19    1143.741757
2020-07-26    1287.434432
2020-08-02    1422.400072
2020-08-09    1542.379357
2020-08-16    1649.752092
2020-08-23    1744.035972
2020-08-30    1832.207239
2020-09-06    1919.330410
2020-09-13    1996.656481
2020-09-20    2080.514071
2020-09-27    2174.014988
2020-10-04    2267.253546
2020-10-11    2367.966534
2020-10-18    2485.460427
2020-10-25    2621.275334
2020-11-01    2789.538992
2020-11-08    3022.631426
2020-11-15    3320.445260
2020-11-22    3680.564628
2020-11-29    4057.663997
2020-12-06    4456.589817
2020-12-13    4923.091137
2020-12-20    5393.502394
2020-12-27    5804.531967
2021-01-03    6137.365722
Freq: W-SUN, Name: cases, dtype: float64

In [18]:
weekly_data['deaths'].sum()
mean_deaths = weekly_data['deaths'].mean()
mean_deaths

date
2020-07-05     40.787848
2020-07-12     42.156548
2020-07-19     44.104828
2020-07-26     46.299808
2020-08-02     48.652275
2020-08-09     51.015167
2020-08-16     53.308845
2020-08-23     55.388752
2020-08-30     57.324460
2020-09-06     59.103262
2020-09-13     60.606147
2020-09-20     62.221064
2020-09-27     63.742830
2020-10-04     65.202810
2020-10-11     66.666637
2020-10-18     68.195964
2020-10-25     69.933694
2020-11-01     71.773791
2020-11-08     73.918438
2020-11-15     76.492416
2020-11-22     79.554606
2020-11-29     83.238826
2020-12-06     87.524361
2020-12-13     92.885106
2020-12-20     98.913203
2020-12-27    104.618764
2021-01-03    109.576261
Freq: W-SUN, Name: deaths, dtype: float64

In [19]:
median_cases = weekly_data['cases'].median()
median_cases

date
2020-07-05      82.0
2020-07-12      98.0
2020-07-19     121.0
2020-07-26     147.0
2020-08-02     174.0
2020-08-09     201.0
2020-08-16     230.0
2020-08-23     255.0
2020-08-30     281.0
2020-09-06     307.0
2020-09-13     331.0
2020-09-20     359.0
2020-09-27     390.0
2020-10-04     431.0
2020-10-11     465.0
2020-10-18     515.0
2020-10-25     562.0
2020-11-01     615.0
2020-11-08     698.0
2020-11-15     805.0
2020-11-22     909.0
2020-11-29    1018.0
2020-12-06    1127.0
2020-12-13    1259.0
2020-12-20    1371.0
2020-12-27    1476.0
2021-01-03    1551.0
Freq: W-SUN, Name: cases, dtype: float64

In [20]:
median_deaths = weekly_data['deaths'].median()
median_deaths

date
2020-07-05     1.0
2020-07-12     2.0
2020-07-19     2.0
2020-07-26     2.0
2020-08-02     3.0
2020-08-09     3.0
2020-08-16     4.0
2020-08-23     4.0
2020-08-30     5.0
2020-09-06     5.0
2020-09-13     5.0
2020-09-20     6.0
2020-09-27     7.0
2020-10-04     7.0
2020-10-11     8.0
2020-10-18     8.0
2020-10-25     9.0
2020-11-01    11.0
2020-11-08    12.0
2020-11-15    13.0
2020-11-22    14.0
2020-11-29    16.0
2020-12-06    18.0
2020-12-13    20.0
2020-12-20    22.0
2020-12-27    24.0
2021-01-03    26.0
Freq: W-SUN, Name: deaths, dtype: float64

In [21]:
mode_cases=cases_deaths.groupby(cases_deaths['date'].dt.to_period("W")).agg({'cases':[lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]}).reset_index()
mode_cases

                     date    cases
                          <lambda>
0   2020-06-29/2020-07-05        0
1   2020-07-06/2020-07-12        0
2   2020-07-13/2020-07-19        0
3   2020-07-20/2020-07-26        0
4   2020-07-27/2020-08-02        0
5   2020-08-03/2020-08-09        0
6   2020-08-10/2020-08-16        0
7   2020-08-17/2020-08-23        0
8   2020-08-24/2020-08-30        0
9   2020-08-31/2020-09-06        0
10  2020-09-07/2020-09-13        0
11  2020-09-14/2020-09-20        0
12  2020-09-21/2020-09-27        0
13  2020-09-28/2020-10-04        0
14  2020-10-05/2020-10-11        0
15  2020-10-12/2020-10-18        0
16  2020-10-19/2020-10-25        0
17  2020-10-26/2020-11-01        0
18  2020-11-02/2020-11-08        0
19  2020-11-09/2020-11-15        0
20  2020-11-16/2020-11-22        0
21  2020-11-23/2020-11-29        0
22  2020-11-30/2020-12-06        0
23  2020-12-07/2020-12-13        0
24  2020-12-14/2020-12-20        0
25  2020-12-21/2020-12-27        0
26  2020-12-28/2021-01-03        0

In [22]:
mode_deaths=cases_deaths.groupby(cases_deaths['date'].dt.to_period("W")).agg({'deaths':[lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]}).reset_index()
mode_deaths

                     date   deaths
                          <lambda>
0   2020-06-29/2020-07-05        0
1   2020-07-06/2020-07-12        0
2   2020-07-13/2020-07-19        0
3   2020-07-20/2020-07-26        0
4   2020-07-27/2020-08-02        0
5   2020-08-03/2020-08-09        0
6   2020-08-10/2020-08-16        0
7   2020-08-17/2020-08-23        0
8   2020-08-24/2020-08-30        0
9   2020-08-31/2020-09-06        0
10  2020-09-07/2020-09-13        0
11  2020-09-14/2020-09-20        0
12  2020-09-21/2020-09-27        0
13  2020-09-28/2020-10-04        0
14  2020-10-05/2020-10-11        0
15  2020-10-12/2020-10-18        0
16  2020-10-19/2020-10-25        0
17  2020-10-26/2020-11-01        0
18  2020-11-02/2020-11-08        0
19  2020-11-09/2020-11-15        0
20  2020-11-16/2020-11-22        0
21  2020-11-23/2020-11-29        0
22  2020-11-30/2020-12-06        0
23  2020-12-07/2020-12-13        0
24  2020-12-14/2020-12-20        0
25  2020-12-21/2020-12-27        0
26  2020-12-28/2021-01-03        0

## Compare the data against other countries of the world. Data at: https://ourworldindata.org/coronavirus-source-data
## Choose at least 5 similar populations countries to compare.

### To figure out 5 similar population countries

In [23]:
# Choosing 5 similar population countries to compare.
Worldcoviddata=pd.read_csv("../../../Data Science/Consumed Datasets/Stage 2/owid-covid-data.csv")
Worldcoviddata

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346482,ZWE,Africa,Zimbabwe,2023-09-30,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346483,ZWE,Africa,Zimbabwe,2023-10-01,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346484,ZWE,Africa,Zimbabwe,2023-10-02,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346485,ZWE,Africa,Zimbabwe,2023-10-03,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346486,ZWE,Africa,Zimbabwe,2023-10-04,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [24]:
# Grouping by location in order to find the similar population countries
grouped_df = Worldcoviddata.groupby('iso_code')['population'].sum().reset_index()
grouped_df

    iso_code    population
0        ABW  1.459553e+08
1        AFG  5.638755e+10
2        AGO  4.879251e+10
3        AIA  2.176737e+07
4        ALB  3.896818e+09
..       ...           ...
250      WSM  3.048967e+08
251      YEM  4.619806e+10
252      ZAF  8.211451e+10
253      ZMB  2.744423e+10
254      ZWE  2.237546e+10

[255 rows x 2 columns]

In [25]:
# Sorting the dataframe on population column.
sorted_df = grouped_df.sort_values(by='population', ascending=False)
sorted_df.to_csv('population_world.csv')

In [26]:
sorted_df[:30]

     iso_code    population
180  OWID_WRL  1.093387e+13
164  OWID_ASI  6.473017e+12
172  OWID_LMC  4.705405e+12
178  OWID_UMC  3.463038e+12
163  OWID_AFR  1.956056e+12
38        CHN  1.954892e+12
97        IND  1.942944e+12
169  OWID_HIC  1.714456e+12
168  OWID_EUR  1.021131e+12
171  OWID_LIC  1.011256e+12
173  OWID_NAM  8.230437e+11
167  OWID_EUN  6.171513e+11
176  OWID_SAM  5.988757e+11
240       USA  4.637954e+11
95        IDN  3.777123e+11
181       PAK  3.233159e+11
154       NGA  2.996200e+11
29        BRA  2.951948e+11
19        BGD  2.346965e+11
198       RUS  1.984020e+11
134       MEX  1.750632e+11
107       JPN  1.699378e+11
65        ETH  1.691539e+11
185       PHL  1.584314e+11
60        EGY  1.521674e+11
41        COD  1.357430e+11
247       VNM  1.346142e+11
99        IRN  1.214028e+11
233       TUR  1.170029e+11
53        DEU  1.143001e+11

### Choosing IND, CHN, IDN, PAK, NGA for comparision

### Computing weekly stats for the Countries choosen.

In [27]:
Worldcoviddata

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346482,ZWE,Africa,Zimbabwe,2023-09-30,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346483,ZWE,Africa,Zimbabwe,2023-10-01,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346484,ZWE,Africa,Zimbabwe,2023-10-02,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346485,ZWE,Africa,Zimbabwe,2023-10-03,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346486,ZWE,Africa,Zimbabwe,2023-10-04,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

#### Filtering the dataframe to include only the data of the choosen countries and in selected dates, starts from 2020, July - 2020, December.

In [28]:
# Keeping only the data of the five countries choosen.
Worldcoviddata_filtered=Worldcoviddata.loc[(Worldcoviddata['iso_code']=='IND')|(Worldcoviddata['iso_code']=='CHN')|
        (Worldcoviddata['iso_code']=='IDN')|(Worldcoviddata['iso_code']=='PAK')|(Worldcoviddata['iso_code']=='NGA')]
Worldcoviddata_filtered

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
60326,CHN,Asia,China,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60327,CHN,Asia,China,2020-01-04,1.0,1.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60328,CHN,Asia,China,2020-01-05,1.0,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60329,CHN,Asia,China,2020-01-06,4.0,3.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60330,CHN,Asia,China,2020-01-07,4.0,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234328,PAK,Asia,Pakistan,2023-09-30,1580631.0,0.0,0.0,30656.0,0.0,0.0,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
234329,PAK,Asia,Pakistan,2023-10-01,1580631.0,0.0,0.0,30656.0,0.0,0.0,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
234330,PAK,Asia,Pakistan,2023-10-02,1580631.0,0.0,0.0,30656.0,0.0,0.0,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
234331,PAK,Asia,Pakistan,2023-10-03,1580631.0,0.0,0.0,30656.0,0.0,0.0,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
234332,PAK,Asia,Pakistan,2023-10-04,1580631.0,0.0,0.0,30656.0,0.0,0.0,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN

In [29]:
# Filtering 2020 JULY to 2020 December data.
Worldcoviddata_filtered=Worldcoviddata_filtered[(Worldcoviddata_filtered['date']>='2020-07-01') & (Worldcoviddata_filtered['date']<='2020-12-31')]
Worldcoviddata_filtered

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
60506,CHN,Asia,China,2020-07-01,85232.0,5.0,19.143,4648.0,0.0,0.143,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60507,CHN,Asia,China,2020-07-02,85263.0,31.0,20.571,4648.0,0.0,0.143,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60508,CHN,Asia,China,2020-07-03,85278.0,15.0,18.571,4648.0,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60509,CHN,Asia,China,2020-07-04,85287.0,9.0,16.429,4648.0,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60510,CHN,Asia,China,2020-07-05,85306.0,19.0,16.571,4648.0,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233321,PAK,Asia,Pakistan,2020-12-27,469482.0,2260.0,2131.571,9816.0,63.0,80.857,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
233322,PAK,Asia,Pakistan,2020-12-28,471335.0,1853.0,2022.714,9874.0,58.0,77.714,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
233323,PAK,Asia,Pakistan,2020-12-29,473309.0,1974.0,2048.714,9929.0,55.0,76.714,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
233324,PAK,Asia,Pakistan,2020-12-30,475085.0,1776.0,2059.000,9992.0,63.0,74.000,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN
233325,PAK,Asia,Pakistan,2020-12-31,477240.0,2155.0,2060.857,10047.0,55.0,70.000,...,36.7,59.607,0.60,67.27,0.557,2.358249e+08,NaN,NaN,NaN,NaN

In [30]:
# Checking unique date values to make sure that only the data in the selected date range is present.
Worldcoviddata_filtered['date'].unique()

array(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
       '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
       '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
       '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
       '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20',
       '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24',
       '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
       '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
       '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05',
       '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09',
       '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13',
       '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17',
       '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21',
       '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25',
       '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29',
       '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02',
       '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06',
       '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10',
       '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14',
       '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
       '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
       '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-26',
       '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30',
       '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
       '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
       '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
       '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
       '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
       '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
       '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
       '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01',
       '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
       '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
       '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13',
       '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17',
       '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
       '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
       '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29',
       '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03',
       '2020-12-04', '2020-12-05', '2020-12-06', '2020-12-07',
       '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11',
       '2020-12-12', '2020-12-13', '2020-12-14', '2020-12-15',
       '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-19',
       '2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23',
       '2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27',
       '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31'],
      dtype=object)

In [31]:
# Creating separate dataframes for each individual country.
Indiacoviddata= Worldcoviddata_filtered.loc[Worldcoviddata_filtered['iso_code']=='IND']
Chinacoviddata= Worldcoviddata_filtered.loc[Worldcoviddata_filtered['iso_code']=='CHN']
Indonesiacoviddata=Worldcoviddata_filtered.loc[Worldcoviddata_filtered['iso_code']=='IDN']
Pakisthancoviddata=Worldcoviddata_filtered.loc[Worldcoviddata_filtered['iso_code']=='PAK']
Nigeriacoviddata=Worldcoviddata_filtered.loc[Worldcoviddata_filtered['iso_code']=='NGA']

In [32]:
print(Indiacoviddata.shape)
print(Chinacoviddata.shape)
print(Indonesiacoviddata.shape)
print(Pakisthancoviddata.shape)
print(Nigeriacoviddata.shape)

(184, 67)
(184, 67)
(184, 67)
(184, 67)
(184, 67)

#### Computing weekly mean, median and mode of individual Country

In [33]:
# Converting date column to datetime object.
Indiacoviddata['date'] = pd.to_datetime(Indiacoviddata['date'])
Chinacoviddata['date'] = pd.to_datetime(Chinacoviddata['date'])
Indonesiacoviddata['date'] = pd.to_datetime(Indonesiacoviddata['date'])
Pakisthancoviddata['date'] = pd.to_datetime(Pakisthancoviddata['date'])
Nigeriacoviddata['date'] = pd.to_datetime(Nigeriacoviddata['date'])

C:\Users\Keerthi Devireddy\AppData\Local\Temp\ipykernel_10540\1537751980.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indiacoviddata['date'] = pd.to_datetime(Indiacoviddata['date'])
C:\Users\Keerthi Devireddy\AppData\Local\Temp\ipykernel_10540\1537751980.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Chinacoviddata['date'] = pd.to_datetime(Chinacoviddata['date'])
C:\Users\Keerthi Devireddy\AppData\Local\Temp\ipykernel_10540\1537751980.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indonesiacoviddata['date'] = pd.to_datetime(Indonesiacoviddata['date'])
C:\Users\Keerthi Devireddy\AppData\Local\Temp\ipykernel_10540\1537751980.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pakisthancoviddata['date'] = pd.to_datetime(Pakisthancoviddata['date'])
C:\Users\Keerthi Devireddy\AppData\Local\Temp\ipykernel_10540\1537751980.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nigeriacoviddata['date'] = pd.to_datetime(Nigeriacoviddata['date'])

#### Weekly stats of India

In [34]:
India_weekly_stats = Indiacoviddata.groupby(Indiacoviddata['date'].dt.to_period("W")).agg({
    'total_cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'total_deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
India_weekly_stats.columns = ['week', 'India_cases_mean', 'India_cases_median', 'India_cases_mode', 'India_deaths_mean', 'India_deaths_median', 'India_deaths_mode']
India_weekly_stats

,week,India_cases_mean,India_cases_median,India_cases_mode,India_deaths_mean,India_deaths_median,India_deaths_mode
0,2020-06-29/2020-07-05,6.274316e+05,625544.0,585493.0,18274.000000,18213.0,17400.0
1,2020-07-06/2020-07-12,7.701517e+05,767296.0,697413.0,21146.428571,21129.0,19693.0
2,2020-07-13/2020-07-19,9.728899e+05,968876.0,878254.0,24973.714286,24915.0,23174.0
3,2020-07-20/2020-07-26,1.245016e+06,1238635.0,1118043.0,29742.285714,29861.0,27497.0
4,2020-07-27/2020-08-02,1.588522e+06,1583792.0,1435453.0,34997.000000,34968.0,32771.0
5,2020-08-03/2020-08-09,1.971561e+06,1964536.0,1803695.0,40721.285714,40699.0,38135.0
6,2020-08-10/2020-08-16,2.398155e+06,2396637.0,2215074.0,47117.571429,47033.0,44386.0
7,2020-08-17/2020-08-23,2.840152e+06,2836925.0,2647663.0,53831.714286,53866.0,50921.0
8,2020-08-24/2020-08-30,3.316083e+06,3310234.0,3106348.0,60490.000000,60472.0,57542.0
9,2020-08-31/2020-09-06,3.858440e+06,3853406.0,3621245.0,67446.428571,67376.0,64469.0
10,2020-09-07/2020-09-13,4.471111e+06,4465863.0,4204613.0,75099.714286,75062.0,71642.0
11,2020-09-14/2020-09-20,5.119798e+06,5118253.0,4846427.0,83215.000000,83198.0,79722.0
12,2020-09-21/2020-09-27,5.734829e+06,5732518.0,5487580.0,91165.428571,91149.0,87882.0
13,2020-09-28/2020-10-04,6.310761e+06,6312584.0,6074702.0,98633.142857,98678.0,95542.0
14,2020-10-05/2020-10-11,6.834438e+06,6835655.0,6623815.0,105510.714286,105526.0,102685.0
15,2020-10-12/2020-10-18,7.305800e+06,7307097.0,7120538.0,111435.428571,111266.0,109150.0
16,2020-10-19/2020-10-25,7.706599e+06,7706946.0,7550273.0,116590.428571,116616.0,114610.0
17,2020-10-26/2020-11-01,8.042424e+06,8040203.0,7909959.0,120556.428571,120527.0,119014.0
18,2020-11-02/2020-11-08,8.365208e+06,8364086.0,8229313.0,124328.285714,124315.0,122607.0
19,2020-11-09/2020-11-15,8.683167e+06,8683916.0,8553657.0,128121.857143,128121.0,126611.0
20,2020-11-16/2020-11-22,8.963082e+06,8958483.0,8845127.0,131610.714286,131578.0,130070.0
21,2020-11-23/2020-11-29,9.265777e+06,9266705.0,9139865.0,135212.714286,135223.0,133738.0
22,2020-11-30/2020-12-06,9.536124e+06,9534964.0,9431691.0,138657.142857,138648.0,137139.0
23,2020-12-07/2020-12-13,9.766395e+06,9767371.0,9677203.0,141785.142857,141772.0,140573.0
24,2020-12-14/2020-12-20,9.956377e+06,9956557.0,9884100.0,144430.428571,144451.0,143355.0
25,2020-12-21/2020-12-27,1.012248e+07,10123778.0,10055560.0,146739.714286,146756.0,145810.0
26,2020-12-28/2021-01-03,1.023592e+07,10234577.5,10207871.0,148307.750000,148296.0,147901.0

#### Weekly stats of China

In [35]:
China_weekly_stats = Chinacoviddata.groupby(Chinacoviddata['date'].dt.to_period("W")).agg({
    'total_cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'total_deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
China_weekly_stats.columns = ['week', 'China_cases_mean', 'China_cases_median', 'China_cases_mode', 'China_deaths_mean', 'China_deaths_median', 'China_deaths_mode']
China_weekly_stats

,week,China_cases_mean,China_cases_median,China_cases_mode,China_deaths_mean,China_deaths_median,China_deaths_mode
0,2020-06-29/2020-07-05,85273.200000,85278.0,85232.0,4648.000000,4648.0,4648.0
1,2020-07-06/2020-07-12,85412.000000,85399.0,85320.0,4648.000000,4648.0,4648.0
2,2020-07-13/2020-07-19,85733.428571,85697.0,85568.0,4650.428571,4651.0,4649.0
3,2020-07-20/2020-07-26,86400.857143,86361.0,86068.0,4655.428571,4655.0,4653.0
4,2020-07-27/2020-08-02,87684.285714,87680.0,87028.0,4665.571429,4665.0,4659.0
5,2020-08-03/2020-08-09,88809.000000,88804.0,88460.0,4683.571429,4684.0,4688.0
6,2020-08-10/2020-08-16,89529.142857,89526.0,89270.0,4702.428571,4704.0,4693.0
7,2020-08-17/2020-08-23,90010.714286,90013.0,89859.0,4713.428571,4713.0,4710.0
8,2020-08-24/2020-08-30,90267.428571,90271.0,90182.0,4721.428571,4720.0,4718.0
9,2020-08-31/2020-09-06,90448.428571,90442.0,90383.0,4732.714286,4734.0,4735.0
10,2020-09-07/2020-09-13,90604.714286,90595.0,90551.0,4739.571429,4740.0,4740.0
11,2020-09-14/2020-09-20,90764.428571,90753.0,90695.0,4742.857143,4743.0,4743.0
12,2020-09-21/2020-09-27,90920.285714,90918.0,90876.0,4744.857143,4745.0,4744.0
13,2020-09-28/2020-10-04,91059.571429,91061.0,90993.0,4746.000000,4746.0,4746.0
14,2020-10-05/2020-10-11,91221.571429,91212.0,91146.0,4746.000000,4746.0,4746.0
15,2020-10-12/2020-10-18,91408.571429,91398.0,91333.0,4746.000000,4746.0,4746.0
16,2020-10-19/2020-10-25,91592.571429,91587.0,91506.0,4746.000000,4746.0,4746.0
17,2020-10-26/2020-11-01,91811.714286,91821.0,91700.0,4746.000000,4746.0,4746.0
18,2020-11-02/2020-11-08,92081.714286,92077.0,91955.0,4747.000000,4747.0,4746.0
19,2020-11-09/2020-11-15,92336.000000,92336.0,92242.0,4748.714286,4749.0,4749.0
20,2020-11-16/2020-11-22,92530.142857,92513.0,92452.0,4749.000000,4749.0,4749.0
21,2020-11-23/2020-11-29,93024.000000,93025.0,92733.0,4749.142857,4749.0,4749.0
22,2020-11-30/2020-12-06,93801.428571,93797.0,93465.0,4751.285714,4751.0,4750.0
23,2020-12-07/2020-12-13,94620.285714,94618.0,94293.0,4754.285714,4755.0,4753.0
24,2020-12-14/2020-12-20,95381.714286,95375.0,95064.0,4764.714286,4764.0,4764.0
25,2020-12-21/2020-12-27,96075.285714,96074.0,95816.0,4774.285714,4774.0,4777.0
26,2020-12-28/2021-01-03,96548.750000,96552.5,96417.0,4783.000000,4783.0,4778.0

#### Weekly stats of Indonesia

In [36]:
Indonesia_weekly_stats = Indonesiacoviddata.groupby(Indonesiacoviddata['date'].dt.to_period("W")).agg({
    'total_cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'total_deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
Indonesia_weekly_stats.columns = ['week', 'Indonesia_cases_mean', 'Indonesia_cases_median', 'Indonesia_cases_mode', 'Indonesia_deaths_mean', 'Indonesia_deaths_median', 'Indonesia_deaths_mode']
Indonesia_weekly_stats

,week,Indonesia_cases_mean,Indonesia_cases_median,Indonesia_cases_mode,Indonesia_deaths_mean,Indonesia_deaths_median,Indonesia_deaths_mode
0,2020-06-29/2020-07-05,60750.000000,60695.0,57770.0,3043.400000,3036.0,2934.0
1,2020-07-06/2020-07-12,70294.714286,70736.0,64958.0,3419.428571,3417.0,3241.0
2,2020-07-13/2020-07-19,81692.571429,81668.0,76981.0,3878.857143,3873.0,3656.0
3,2020-07-20/2020-07-26,93567.571429,93657.0,88214.0,4536.285714,4576.0,4239.0
4,2020-07-27/2020-08-02,106127.000000,106336.0,100303.0,5047.428571,5058.0,4838.0
5,2020-08-03/2020-08-09,119134.142857,118753.0,113134.0,5519.571429,5521.0,5302.0
6,2020-08-10/2020-08-16,133076.142857,132816.0,127083.0,5957.428571,5968.0,5765.0
7,2020-08-17/2020-08-23,147287.142857,147211.0,141370.0,6431.714286,6418.0,6207.0
8,2020-08-24/2020-08-30,163350.714286,162884.0,155412.0,7056.857143,7064.0,6759.0
9,2020-08-31/2020-09-06,184227.428571,184268.0,174796.0,7726.428571,7750.0,7417.0
10,2020-09-07/2020-09-13,207376.714286,207203.0,196989.0,8438.428571,8456.0,8130.0
11,2020-09-14/2020-09-20,232865.142857,232628.0,221523.0,9209.285714,9222.0,8841.0
12,2020-09-21/2020-09-27,262083.142857,262022.0,248852.0,10072.571429,10105.0,9677.0
13,2020-09-28/2020-10-04,291162.714286,291182.0,278722.0,10835.428571,10856.0,10473.0
14,2020-10-05/2020-10-11,320233.285714,320564.0,307120.0,11565.000000,11580.0,11253.0
15,2020-10-12/2020-10-18,349191.000000,349160.0,336716.0,12239.285714,12268.0,11935.0
16,2020-10-19/2020-10-25,377476.285714,377541.0,365240.0,12964.000000,12959.0,12617.0
17,2020-10-26/2020-11-01,403390.857143,404048.0,392934.0,13690.000000,13701.0,13411.0
18,2020-11-02/2020-11-08,426061.428571,425796.0,415402.0,14341.857143,14348.0,14044.0
19,2020-11-09/2020-11-15,453311.571429,452291.0,440569.0,14945.000000,14933.0,14689.0
20,2020-11-16/2020-11-22,483803.857143,483518.0,470648.0,15589.714286,15600.0,15296.0
21,2020-11-23/2020-11-29,517406.714286,516753.0,502110.0,16381.714286,16352.0,16002.0
22,2020-11-30/2020-12-06,557060.857143,557877.0,538883.0,17341.142857,17355.0,16945.0
23,2020-12-07/2020-12-13,599274.142857,598933.0,581550.0,18336.714286,18336.0,17867.0
24,2020-12-14/2020-12-20,643639.285714,643508.0,623309.0,19394.000000,19390.0,18956.0
25,2020-12-21/2020-12-27,692668.428571,692838.0,671778.0,20631.000000,20589.0,20085.0
26,2020-12-28/2021-01-03,731165.750000,731123.0,719219.0,21809.250000,21823.5,21452.0

#### Weekly stats of Pakisthan

In [37]:
Pakisthan_weekly_stats = Pakisthancoviddata.groupby(Pakisthancoviddata['date'].dt.to_period("W")).agg({
    'total_cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'total_deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
Pakisthan_weekly_stats.columns = ['week', 'Pakisthan_cases_mean', 'Pakisthan_cases_median', 'Pakisthan_cases_mode', 'Pakisthan_deaths_mean', 'Pakisthan_deaths_median', 'Pakisthan_deaths_mode']
Pakisthan_weekly_stats

,week,Pakisthan_cases_mean,Pakisthan_cases_median,Pakisthan_cases_mode,Pakisthan_deaths_mean,Pakisthan_deaths_median,Pakisthan_deaths_mode
0,2020-06-29/2020-07-05,217559.000000,217809.0,209337.0,4468.400000,4473.0,4304.0
1,2020-07-06/2020-07-12,237583.571429,237489.0,228474.0,4914.142857,4922.0,4712.0
2,2020-07-13/2020-07-19,255671.428571,255769.0,248872.0,5370.714286,5386.0,5197.0
3,2020-07-20/2020-07-26,267654.428571,267428.0,263496.0,5677.428571,5677.0,5568.0
4,2020-07-27/2020-08-02,276252.571429,276288.0,273113.0,5895.142857,5892.0,5822.0
5,2020-08-03/2020-08-09,281331.428571,281136.0,279699.0,6019.428571,6014.0,5976.0
6,2020-08-10/2020-08-16,285987.714286,285921.0,284121.0,6124.857143,6129.0,6082.0
7,2020-08-17/2020-08-23,290418.428571,290445.0,288717.0,6199.000000,6201.0,6168.0
8,2020-08-24/2020-08-30,294141.857143,294193.0,292765.0,6263.142857,6267.0,6235.0
9,2020-08-31/2020-09-06,296682.142857,296590.0,295636.0,6314.428571,6318.0,6288.0
10,2020-09-07/2020-09-13,299640.714286,299659.0,298509.0,6357.714286,6359.0,6342.0
11,2020-09-14/2020-09-20,303152.142857,303089.0,301481.0,6395.142857,6393.0,6379.0
12,2020-09-21/2020-09-27,307584.571429,307418.0,305671.0,6432.000000,6432.0,6416.0
13,2020-09-28/2020-10-04,312159.428571,312263.0,310275.0,6480.857143,6479.0,6457.0
14,2020-10-05/2020-10-11,316392.714286,316351.0,314616.0,6534.571429,6535.0,6513.0
15,2020-10-12/2020-10-18,320577.285714,320463.0,318932.0,6601.714286,6601.0,6570.0
16,2020-10-19/2020-10-25,324866.428571,324744.0,323019.0,6688.857143,6692.0,6654.0
17,2020-10-26/2020-11-01,330337.000000,330200.0,327895.0,6765.000000,6759.0,6736.0
18,2020-11-02/2020-11-08,337682.142857,337573.0,333970.0,6876.142857,6867.0,6823.0
19,2020-11-09/2020-11-15,348491.000000,348184.0,343189.0,7031.714286,7021.0,6968.0
20,2020-11-16/2020-11-22,363785.428571,363380.0,356904.0,7305.142857,7230.0,7141.0
21,2020-11-23/2020-11-29,383106.000000,382892.0,374173.0,7798.142857,7803.0,7662.0
22,2020-11-30/2020-12-06,403867.857143,403311.0,395185.0,8147.857143,8166.0,7985.0
23,2020-12-07/2020-12-13,426015.000000,426030.0,416499.0,8539.000000,8547.0,8361.0
24,2020-12-14/2020-12-20,446048.571429,445865.0,438313.0,9005.428571,9010.0,8796.0
25,2020-12-21/2020-12-27,463057.714286,462814.0,457176.0,9570.000000,9557.0,9330.0
26,2020-12-28/2021-01-03,474242.250000,474197.0,471335.0,9960.500000,9960.5,9874.0

#### Weekly stats of Nigeria

In [38]:
Nigeria_weekly_stats = Nigeriacoviddata.groupby(Nigeriacoviddata['date'].dt.to_period("W")).agg({
    'total_cases': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None],
    'total_deaths': ['mean', 'median', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None]
}).reset_index()

# Rename columns for clarity
Nigeria_weekly_stats.columns = ['week', 'Nigeria_cases_mean', 'Nigeria_cases_median', 'Nigeria_cases_mode', 'Nigeria_deaths_mean', 'Nigeria_deaths_median', 'Nigeria_deaths_mode']
Nigeria_weekly_stats

,week,Nigeria_cases_mean,Nigeria_cases_median,Nigeria_cases_mode,Nigeria_deaths_mean,Nigeria_deaths_median,Nigeria_deaths_mode
0,2020-06-29/2020-07-05,27003.800000,27110.0,25694.0,614.200000,616.0,590.0
1,2020-07-06/2020-07-12,30299.000000,30249.0,28711.0,682.000000,684.0,645.0
2,2020-07-13/2020-07-19,34285.857143,34259.0,32558.0,759.571429,760.0,740.0
3,2020-07-20/2020-07-26,38356.714286,38344.0,36663.0,820.285714,813.0,789.0
4,2020-07-27/2020-08-02,42157.285714,42208.0,40532.0,871.285714,873.0,858.0
5,2020-08-03/2020-08-09,44909.142857,44890.0,43841.0,918.428571,927.0,888.0
6,2020-08-10/2020-08-16,47686.857143,47743.0,46577.0,960.000000,956.0,956.0
7,2020-08-17/2020-08-23,50444.142857,50488.0,49068.0,986.142857,985.0,975.0
8,2020-08-24/2020-08-30,53016.714286,53021.0,52227.0,1008.000000,1010.0,1011.0
9,2020-08-31/2020-09-06,54402.714286,54463.0,53865.0,1032.714286,1027.0,1013.0
10,2020-09-07/2020-09-13,55610.857143,55632.0,55005.0,1069.142857,1070.0,1057.0
11,2020-09-14/2020-09-20,56651.714286,56604.0,56256.0,1089.428571,1091.0,1082.0
12,2020-09-21/2020-09-27,57732.142857,57724.0,57242.0,1101.571429,1102.0,1100.0
13,2020-09-28/2020-10-04,58813.428571,58848.0,58324.0,1111.285714,1112.0,1112.0
14,2020-10-05/2020-10-11,59723.857143,59738.0,59345.0,1113.285714,1113.0,1113.0
15,2020-10-12/2020-10-18,60809.714286,60834.0,60266.0,1117.142857,1116.0,1116.0
16,2020-10-19/2020-10-25,61701.714286,61667.0,61440.0,1126.428571,1125.0,1125.0
17,2020-10-26/2020-11-01,62394.714286,62371.0,61992.0,1137.857143,1139.0,1144.0
18,2020-11-02/2020-11-08,63361.428571,63328.0,62964.0,1150.857143,1153.0,1153.0
19,2020-11-09/2020-11-15,64533.428571,64516.0,64090.0,1160.285714,1162.0,1162.0
20,2020-11-16/2020-11-22,65664.571429,65693.0,65148.0,1164.000000,1163.0,1163.0
21,2020-11-23/2020-11-29,66822.571429,66805.0,66383.0,1169.142857,1169.0,1169.0
22,2020-11-30/2020-12-06,68090.571429,67960.0,67412.0,1176.714286,1177.0,1173.0
23,2020-12-07/2020-12-13,70857.857143,70669.0,69255.0,1185.857143,1184.0,1190.0
24,2020-12-14/2020-12-20,75270.857143,75062.0,73175.0,1203.571429,1200.0,1197.0
25,2020-12-21/2020-12-27,80888.857143,80922.0,78434.0,1235.714286,1236.0,1221.0
26,2020-12-28/2021-01-03,85340.250000,85185.5,84414.0,1265.750000,1265.5,1254.0